<div class="h-screen w-screen flex justify-center items-center content-center">
  <button routerLink = "" class="bg-blue-400 hover:bg-blue-800 absolute top-10 right-10 p-4 rounded-lg">
    Vover a la lista
  </button>
  <div class="bg-gradient-to-b bg-blue-200 rounded-2xl">
    <form [formGroup]="editForm" (submit)="editForm.valid  && updateEbook()" class="p-10">
      <div class="flex flex-col justify-center items-center content-centers mb-4">
        <h1 class="font-sans text-2xl font-bold">Sistema de edición</h1>
        <h2 class="font-sans text-2xl font-semibold">¡Edita el ebook!</h2>
      </div>
      <app-text-input
      [formControl]="$any(editForm.controls['title'])"
      label="Título del Ebook"
      placeholder="Ingrese el titulo del Ebook"
      requiredMessage="El titulo es requerido"
      />
      <app-text-input
      [formControl]="$any(editForm.controls['author'])"
      label="Autor del Ebook"
      placeholder="Ingrese el nombre del Autor"
      requiredMessage="El autor ocompleto es requerido"
      />
      <app-text-input
      [formControl]="$any(editForm.controls['genre'])"
      label="Género del Ebook"
      placeholder="Ingrese el género"
      requiredMessage="El Género es requerido"
      />
      <app-text-input
      [formControl]="$any(editForm.controls['format'])"
      label="Formato del Ebook"
      placeholder="Ingrese el formato (PDF, Fisico)"
      requiredMessage="El formato completo es requerido"
      />
      <app-text-input
      [formControl]="$any(editForm.controls['price'])"
      label="Precio del Ebook"
      placeholder="Ingrese un precio"
      requiredMessage="El precio es requerido"
      />
      <div class=" flex flex-col justify-center items-center content-center mt-6">
        <button [disabled]="!editForm.valid" type="submit" class="bg-blue-600 hover:bg-blue-800 rounded-xl p-4">
          ¡Editar Ebook!
        </button>
        <p style="width: 200px;" class="text-red-700 mt-2 bg-red-50"> {{ errorMessage }} </p>
      </div>
    </form>
  </div>
</div>
